@model Slider

<div class="container">

    <form method="post" enctype="multipart/form-data">

        <div class="mb-3">
            <label asp-for="Title1" class="form-label">Title</label>
            <input class="form-control" asp-for="Title1">
            <span asp-validation-for="Title1" style="color:red" ;></span>
        </div>
        <div class="mb-3">
            <label asp-for="Title2" class="form-label">Title2</label>
            <input class="form-control" asp-for="Title2">
            <span asp-validation-for="Title2" style="color:red" ;></span>

        </div>
        <div class="mb-3">
            <label asp-for="Desc" class="form-label">Desc</label>
            <input class="form-control" asp-for="Desc">
            <span asp-validation-for="Desc" style="color:red" ;></span>

        </div>
        <div class="mb-3">
            <label asp-for="ImageFile" class="form-label">ImageFile</label>
            <input class="form-control" asp-for="ImageFile">
            <span asp-validation-for="ImageFile" style="color:red" ;></span>

        </div>


        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
