@model ProductCreateVM

    <form method="post" enctype="multipart/form-data">

        <div class="mb-3">
            <label asp-for="Name" class="form-label">Name</label>
            <input class="form-control" asp-for="Name">
            <span asp-validation-for="Name" style="color:red" ;></span>
        </div>
        <div class="mb-3">
            <label asp-for="SKU" class="form-label">SKU</label>
            <input class="form-control" asp-for="SKU">
            <span asp-validation-for="SKU" style="color:red" ;></span>

        </div>
        <div class="mb-3">
            <label asp-for="Desc" class="form-label">Desc</label>
            <input class="form-control" asp-for="Desc">
            <span asp-validation-for="Desc" style="color:red" ;></span>

        </div>
        <div class="mb-3">
            <label asp-for="Price" class="form-label">Price</label>
            <input class="form-control" asp-for="Price">
            <span asp-validation-for="Price" style="color:red" ;></span>

        </div>
    <div class="mb-3">
        <label asp-for="CategoryId" class="form-label">Category</label>
        <select class="form-select" asp-for=CategoryId asp-items="new SelectList(Model.Categories,nameof(Category.Id),nameof(Category.Name))">
        </select>
        <span asp-validation-for="CategoryId" style="color:red" ;></span>

    </div>
    <div class="mb-3">
        <label asp-for="TagIds" class="form-label">Tag</label>
        <select class="form-select" asp-for=TagIds asp-items="new SelectList(Model.Tags,nameof(Tag.Id),nameof(Tag.Name))">
        </select>
        <span asp-validation-for="CategoryId" style="color:red" ;></span>

    </div>

    <div class="row">
        <div class="mb-3">
            <label asp-for="MainPhoto" class="form-label">MainPhoto</label>
            <input class="form-control" asp-for="MainPhoto">
            <span asp-validation-for="MainPhoto" style="color:red" ;></span>

        </div>
        <div class="mb-3">
            <label asp-for="HoverPhoto" class="form-label">HoverPhoto</label>
            <input class="form-control" asp-for="HoverPhoto">
            <span asp-validation-for="HoverPhoto" style="color:red" ;></span>

        </div>
        <div class="mb-3">
            <label asp-for="Photo" class="form-label">Photo</label>
            <input class="form-control" asp-for="Photo">
            <span asp-validation-for="Photo" style="color:red" ;></span>

        </div>


        <button type="submit" class="btn btn-primary">Submit</button>
    </form>



